.ldfmt-sales-box {
    width: 14%;
    height: 75px;
    border: 1px solid #ddd;
    background: white;
    margin: 20px 5px;
}
.ldfmt-sales-box label {
    margin: 10px;
    display: inline-block;    
    font-weight: bolder; 
}
.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 2em;

    text-align: center;
    padding:5px;
}

.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 1em;

    text-align: center;
    padding:5px;
}
.ldfmt-gross-gateway-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}

.ldfmt-new-sales-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}

.ldfmt-new-subscriptions-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}

.ldfmt-renewals-count-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}

.ldnft-general-settings{
    width: 50%;
    float:left;
}
.ldnft-settings-mailpoet{
    width: 50%;
    float:right;
}
#ldnft-settings-import-mailpoet-message{
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: green;
    color: white;
}
#ldnft-settings-import-mailpoet-errmessage{
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: red;
    color: white;
}
.ldfmt-sales-upper-info{
    clear: both;
    display: block;
    overflow: auto;
}
.ldnft-wrap {
    margin-top: 36px;
    width: 95%;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #c3c4c7;
    float: left;
}
.ldnft-settings-heading {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 0;
    background-color: #ddd;
    line-height: 1.4;
    border-bottom: 1px solid #c3c4c7;
}
.ldfmt-button-wrapper{
    text-align: center;
    padding: 5px auto;
    margin-bottom: 10px;
}
.ldnft-success-loader{
    width: 18px;
}

.ldnft-post-content {
    padding: 0 10px 10px 20px;
}

.ldnft-desc {
    font-weight: bold;
    display: inline-block;
    width: 85px;
}
.ldnft-box {
    background: #ffffff;
    padding-top: 10px;
}

.ldnft-box h3 {
    padding: 14px 40px;
    font-size: 15px;
    height: 20px;
    color: black;
    margin-top: 25px;
    margin: 0;
}
.ldnft-box input[type="text"] {
    width:300px;
}
.ldnft-box table{
    margin: 20px;
    
}
.ldnft-box h3{
    padding: 0;
    font-size: 15px;
    height: 20px;
}
.ldnft-popup-loader{display: none;}
/* The Modal (background) */
.ldnft-admin-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .ldnft-admin-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .ldnft-admin-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .ldnft-admin-modal-close:hover,
  .ldnft-admin-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #ldnft-subscriptions{
    background-color: #888;
  }
  #ldnft-subscriptions td, #ldnft-subscriptions th {
    background-color: white;
  }
  .ldnft-admin-modal-header {
    padding: 2px 16px;
    background-color: #9999AF;
    color: white;
  }
  
  .ldnft-admin-modal-body {padding: 2px 16px;}

  .ldnft-popup-loader {
    display: none;
    text-align: center;
}
.ldnft_filter_labels{
    float: left;
    font-weight: bold;
    padding: 5px;
}

@media only screen and (max-width: 1000px) {
    .ldfmt-sales-box {
        width: 12%;
        font-size: 1em;
    }
    
}

@media only screen and (max-width: 780px) {
    .ldfmt-sales-box {
        width: 12%;
        font-size: 1em;
    }
}