.ldfmt-sales-box {
    width: 14%;
    height: 75px;
    border: 1px solid #ddd;
    background: white;
    margin: 20px 5px;
}
.ldfmt-sales-box label {
    margin: 10px;
    display: inline-block;    
    font-weight: bolder; 
}
.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 2em;

    text-align: center;
    padding:5px;
}

.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 1em;

    text-align: center;
    padding:5px;
}
.ldnft-checked {
    color: orange;
}
.ldfmt-gross-gateway-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}

.ldfmt-new-sales-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}

.ldfmt-new-subscriptions-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}
.ldfmt-top3-countries-count-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 

}
.ldfmt-top3-countries-count-box label {
    margin: 0px;
}
.ldfmt-top3-countries-count-box ul{
    font-size: 10px;
    text-wrap: nowrap;
    text-align: left;
    line-height: 11px;
}
.ldfmt-renewals-count-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}
#ldnft-sales-filter h3{
    padding: 6px;
}
.ldnft-general-settings{
    width: 50%;
    float:left;
}
/* Setting Page */
.ldfmt-tab-data-heading {
    padding: 14px;
    background: #fafafa;
    font-size: 15px;
    height: 20px;
    border: 1px solid #cfd2d5c4;
    color: black;
}
.ldfmt-div-info {
    padding: 10px 0px;
}
.ldfmt-tab-shortcode-data {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    background: #fff;
}
.ldnft-settings-mailpoet .ldnft-mailpoet-save-setting_import {
    margin-left: 10px;
}
.ldnft-settings-mailpoet{
    width: 100%;
    background-color: #fff;
    padding-bottom: 10px;
}
/* Setting Page end */

#ldnft-settings-import-mailpoet-message{
    width: 80%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: green;
    color: white;
    text-align: center;
}
.ldnft-process-freemius-data-info > div {
    line-height: 1;
}
.ldnft-checkmark {
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
    color: green;
}

#ldnft-dat-not-imported-message{
    width: 80%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: green;
    color: white;
    text-align: center;
}

#ldnft-dat-not-imported-message a {
    color:white;
}

.mailpoet_unable_to_import{
    color:red;
}
#ldnft-settings-import-mailpoet-general{
    width: 80%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: #ddd;
    font-weight: bold;
    text-align: center;
    color: black;
}
#ldnft-settings-import-mailpoet-errmessage{
    width: 80%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: red;
    color: white;
    text-align: center;
}
.ldfmt-sales-upper-info{
    clear: both;
    display: block;
    overflow: auto;
}
.ldnft-wrap {
    margin-top: 36px;
    width: 95%;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #c3c4c7;
    float: left;
}
.ldnft-settings-heading {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 0;
    background-color: #ddd;
    line-height: 1.4;
    border-bottom: 1px solid #c3c4c7;
}
.ldfmt-button-wrapper{
    text-align: center;
    padding: 5px auto;
    margin-bottom: 10px;
}
.ldnft-success-loader{
    width: 18px;
}

.ldnft-post-content {
    padding: 0 10px 10px 20px;
}

.ldnft-desc {
    font-weight: bold;
    display: inline-block;
    width: 85px;
}
.ldnft-box {
    background: #ffffff;
    padding-top: 10px;
}

.ldnft-box h3 {
    padding: 14px 40px;
    font-size: 15px;
    height: 20px;
    color: black;
    margin-top: 25px;
    margin: 0;
}
.ldnft-box input[type="text"] {
    width:300px;
}
.ldnft-box table{
    margin: 20px;
    
}
.ldnft-box h3{
    padding: 0;
    font-size: 15px;
    height: 20px;
}
.ldnft-popup-loader{display: none;}
/* The Modal (background) */
.ldnft-admin-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.ldnft-admin-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    padding-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
/* The Close Button */
.ldnft-admin-modal-close {
    color: #222222;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}
  
.ldnft-admin-modal-close:hover,
.ldnft-admin-modal-close:focus {
    color: #d4d4d4;
    text-decoration: none;
    cursor: pointer;
}
#ldnft-subscriptions,
#ldnft-reviews-popup{
    border-collapse: collapse;
    margin-bottom: 20px;
}
#ldnft-subscriptions th,
#ldnft-reviews-popup th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}
#ldnft-subscriptions td,
#ldnft-reviews-popup td {
    border: 1px solid #ddd;
    padding: 10px;
}
#ldnft-subscriptions tr,
#ldnft-reviews-popup tr {
    background-color: #f9f9f9;
}
.ldnft-admin-modal-header {
    padding: 2px 16px;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 97%;
}
.ldnft_renewals_count, .ldnft_points, .ldnft_tax_fee, .ldnft_new_sales_count, .ldnft_new_subscriptions_count {
    text-align: center;
}
.ldnft-admin-modal-body {
    padding: 2px 16px;
    max-height: 400px;
    height: 400px;
    overflow: auto;
}

.ldnft-popup-loader {
    display: none;
    text-align: center;
}
.ldnft-popup-loader img {
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.ldnft_filter_labels{
    float: left;
    font-weight: bold;
    padding: 5px;
}

.setting-table-wrapper{
	width: 100%;
	padding: 10px;
    background-color: #fff;
}
.setting-table-wrapper .ldnft-table-content {
    line-height: 3;
}
@media only screen and (max-width: 1000px) {
    .ldfmt-sales-box {
        width: 12%;
        font-size: 1em;
    }
    
}

@media only screen and (max-width: 780px) {
    .ldfmt-sales-box {
        width: 12%;
        font-size: 1em;
    }
}