.ldfmt-sales-box {
    width: 30%;
    height: 75px;
    border: 1px solid #ddd;
    background: white;       
    margin: 20px;
}
.ldfmt-sales-box label {
    margin: 10px;
    display: inline-block;    
    font-weight: bolder; 
}
.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 2em;

    text-align: center;
    padding:5px;
}

.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 1em;

    text-align: center;
    padding:5px;
}
.ldfmt-gross-gateway-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}

.ldnft-general-settings{
    width: 50%;
    float:left;
}
.ldnft-settings-mailpoet{
    width: 50%;
    float:right;
}
#ldnft-settings-import-mailpoet-message{
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: green;
    color: white;
}
#ldnft-settings-import-mailpoet-errmessage{
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
    background-color: red;
    color: white;
}
.ldfmt-sales-upper-info{
    clear: both;
    display: block;
}
.ldnft-wrap {
    margin-top: 36px;
    width: 95%;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #c3c4c7;
    float: left;
}
.ldnft-settings-heading {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 0;
    background-color: #ddd;
    line-height: 1.4;
    border-bottom: 1px solid #c3c4c7;
}
.ldfmt-button-wrapper{
    text-align: center;
    padding: 5px auto;
    margin-bottom: 10px;
}
.ldnft-success-loader{
    width: 18px;
}

.ldnft-post-content {
    padding: 0 10px 10px 20px;
}

.ldnft-desc {
    font-weight: bold;
    display: inline-block;
    width: 85px;
}
.ldnft-box {
    background: #ffffff;
    padding-top: 10px;
}

.ldnft-box h3 {
    padding: 14px 40px;
    font-size: 15px;
    height: 20px;
    color: black;
    margin-top: 25px;
    margin: 0;
}
.ldnft-box input[type="text"] {
    width:300px;
}
.ldnft-box table{
    margin: 20px;
    
}
.ldnft-box h3{
    padding: 0;
    font-size: 15px;
    height: 20px;
}