.review-container {
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .review-container::after {
    content: "";
    clear: both;
    display: table;
  }
  .ldfmt-load-more-btn, .ldfmt-load-more-sales-btn{
    padding: 5px auto;
    text-align: center;
  }
  .review-container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .review-container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
.ldfmt-sales-box {
    width: 30%;
    height: 100px;
    border: 1px solid #ddd;
    background: white;       
    margin: 20px;
}
.ldfmt-sales-box label {
    margin: 10px;
    display: inline-block;    
    font-weight: bolder; 
}
.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 1em;

    text-align: center;
    padding:5px;
}
.ldfmt-clear-div{
  clear:both;
}
.ldfmt-gross-sales-box {
    float: left;
    border-radius: 5px; 
    font-size: 1em;

    text-align: center;
    padding:5px;
}
.ldfmt-gross-gateway-box{
    float: left;
    border-radius: 5px; 
    font-size: 1em;
    margin-left: 50px;
    text-align: center;
    padding:5px; 
}
.ldfmt-sales-list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
.ldfmt-sales-list td, .ldfmt-sales-list th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 1em;
    background-color: white;
}
.ldfmt-plugins-filter{
  min-width: 15ch;
  max-width: 30ch;
 
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);}
.ldfmt-sales-list tr:nth-child(even){background-color: #f2f2f2;}
.ldfmt-loader-div{
  text-align: center;
}
.ldfmt-sales-list tr:hover {  }
  
.ldfmt-sales-list th {
  text-align: left;
  background-color: #ddd;
}
.ldmft_filters{
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;       
    margin: 20px;  
}
.ldmft_filters .ldmft_filter{
    width: 43%;
    height: auto;
    float: left;
    margin-left: 15px;
}
.ldmft_wrapper{
  background-color: #Efefef;
  padding: 10px;
    border-radius: 5px;
}
.ldmft_filter select{
  display: block;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
 
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.ldfmt-no-results{
  display: block;
  margin: 10px auto;
  text-align: center;
  background: white;
  border-radius: 8px;
  width: 70%;
}
.ldmft_filter label{
  font-weight: 500;
  display: block;
}
.ldmft_filter select::-ms-expand {
    display: none;
  }

  @media (max-width: 500px) {
    .review-container {
        text-align: center;
    }
    .review-container img {
        margin: auto;
        float: none;
        display: block;
    }
  }